body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    margin: 0 10px; /* Ajuste conforme necessário */
}