@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Lato";
    color: white;
}

body {
    background-image: linear-gradient(rgba(17, 17, 17, 0.5), rgba(20, 20, 20, 1)), url(../img/background.jpg);
    background-position: center center;
    background-position-y: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
    min-height: 100vh;
}

header {
    width: 100%;
    background-color: rgba(22, 22, 22, 0.2);
    margin-bottom: 20px;
}

.menu-content {
    padding-block: 15px;
    text-transform: uppercase;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
}

.h1-header {
    font-size: clamp(28px, 4vw, 35px);
    letter-spacing: 0.4rem;
    cursor: pointer;
    max-width: none;
    margin-inline: center;
}

.lista-icones {
    display: flex;
    list-style: none;
    gap: 20px;
    position: relative; /* Adiciona um contexto de posicionamento */
    z-index: 1; /* Ensure icons are below h1 */
}

.lista-icones a {
    color:white;
    text-decoration: none;
    padding: 15px;
    transition: 2ms ease-in;
    position: relative;
    
}

.lista-icones a::before {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 1px;
    background-color: #F230E5;
    transition: all 0.7s ease;
}

.lista-icones a:hover::before {
    width: 100%;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: min(100% - 30px, 960px);
    margin-inline: auto;
    min-height: calc(100vh - 140px);
}

.texto-principal {
    font-size: clamp(24px, 4vw, 40px);
    text-align: center;
    margin-bottom: 3px;
    max-width: 600px; /* Reduz a largura máxima para 90% quando a largura da tela for menor que 600px */
    min-width: 300px;
}

.texto-secundario {
    color: rgb(211, 211, 211);
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 1px;
    font-size: clamp(20px, 4vw, 30px);
}

p {
    text-align: center;
    font-size: 18px;
    max-width: 800px;
}

@media screen and (max-width: 600px) {
    main {
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}